@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  font-family: 'Bungee';
  font-size: 40px;
}

.game-title {
  text-align: center;
  color: white;
}

.description {
  text-align: center;
  color: white;
}
